@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', sans-serif;
}

.brands {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 24px;
}

.brands-title {
  padding: 16px 0 16px 0;
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.brands-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.brands-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  padding: 16px;
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

@media screen and (min-width: 1120px) {
  .brands-item {
    margin-right: 32px;
  }

  .hidden:nth-child(n + 9) {
    display: none;
  }
}

@media screen and (max-width: 1119px) {
  .brands-item {
    width: 224px;
    margin-right: 24px;
  }

  .hidden:nth-child(n + 7) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .brands-item {
    width: 301px;
    margin-right: 10px;
  }

  .hidden:nth-child(n + 3) {
    display: none;
  }
}

.brands-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brands-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: 2px solid #ff3e79;
  border-radius: 50%;
}

.brands-btn::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -5px;
  border: 2px solid #ff3e79;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
}

.brands-btn:hover {
  background-color: #ff3e79;
}

.brands-btn:hover::before {
  border-right-color: #ffffff;
  border-top-color: #ffffff;
}

.brands-btnView {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
}

.brands-btnView:active,
.brands-btnView:focus {
  outline: none;
}

.brands-btnView__show::before {
  content: '';
  background: url('img/hide.svg') no-repeat center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.brands-btnView__hide::before {
  content: '';
  background: url('img/show.svg') no-repeat center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
